<!-- _navbar.html.erb renders a navbar at the top of each page -->

<div class="hero">`
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn things from people just as mediocre as yourself.</h1>
		<h2>Flixster is not liable for your ability to learn.</h2>
		<br />
		<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>

<br />
<div class="row feature text-center">
	<div class="col-12 col-sm">
		<h3>Alright Courses</h3>
		<br />
		<p>Choose from the limited selection of average quality courses.</p>
	</div>

	<div class="col-12 col-sm">
		<h3>Pace Yourself</h3>
		<br />
		<p>Super busy and lack motivation, take as long as you want.</p>
	</div>

	<div class="col-12 col-sm">
		<h3>Join the Community</h3>
		<br />
		<p>People spend hours trying to make friends in the real world, make a few fake ones here instead!</p>
	</div>
</div>