<!-- _navbar.html.erb renders a navbar at the top of each page -->

<div class="hero">`
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn things from people just as mediocre as yourself.</h1>
		<h2>Flixster is not liable for your ability to learn.</h2>
		<br />
		<%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>

<br />
<div class="row feature text-center">
	<div class="col-12 col-sm">
		<h3>Alright Courses</h3>
		<br />
		<p>Choose from the limited selection of average quality courses.</p>
	</div>

	<div class="col-12 col-sm">
		<h3>Pace Yourself</h3>
		<br />
		<p>Super busy and lack motivation, take as long as you want.</p>
	</div>

	<div class="col-12 col-sm">
		<h3>Join the Community</h3>
		<br />
		<p>People spend hours trying to make friends in the real world, make a few fake ones here instead!</p>
	</div>

	<div class="col-10 offset-1">
		<p> Curabitur quis elementum leo, et porta ex. Curabitur malesuada mauris elit, in fermentum turpis vulputate volutpat. Nam eget nisl non tellus cursus suscipit. Vestibulum non orci metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer ut tristique libero, et bibendum purus. Maecenas in ornare quam, vitae dictum tellus. Vestibulum condimentum lorem lacinia sollicitudin ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla varius erat ut justo pellentesque aliquet. Praesent eget eleifend nisl.

Nunc congue dui at consectetur mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non ipsum tempor, hendrerit leo eget, maximus enim. Sed maximus faucibus maximus. Suspendisse eget euismod arcu. Donec vulputate felis libero, ut consectetur elit aliquet a. Curabitur sed dolor non ipsum efficitur porttitor. Quisque congue accumsan ligula vulputate malesuada. Sed nulla purus, aliquet nec eros ac, auctor luctus ante. Donec efficitur, tortor ut tempus tempus, leo nunc viverra odio, porttitor maximus augue libero lobortis quam. Nulla tortor nulla, mollis sit amet accumsan id, convallis lobortis sapien. Aenean in dignissim metus, in pharetra magna. Morbi quis molestie sapien, vitae porta ante. Ut aliquet quam et diam tincidunt cursus.

Vivamus faucibus, urna sit amet tincidunt semper, lectus purus gravida est, ut molestie eros lectus ac nisi. Aenean id commodo leo. Nullam fermentum at velit eget viverra. In blandit quam eget ligula tincidunt interdum. Nam egestas ipsum nec dui faucibus, vitae tempor dui blandit. Nulla mattis dignissim lacus. Mauris et rhoncus justo. Nulla neque nisl, pellentesque non tincidunt et, suscipit in erat. Vestibulum id lectus consectetur, malesuada nulla nec, egestas lacus. Cras ut cursus dolor. Donec quis pharetra diam, congue condimentum ligula. Donec congue ultrices consectetur. Pellentesque mattis dolor neque, sit amet egestas neque tincidunt nec. Curabitur odio augue, ullamcorper blandit elit eget, blandit sagittis elit.

Donec lacinia mauris ut viverra iaculis. Ut vel massa elementum, semper ex in, luctus ligula. Aliquam malesuada ipsum at sodales consequat. Duis pretium, odio a cursus pretium, velit lacus pellentesque dui, in tincidunt dolor nisi sed ex. Curabitur tristique, mauris condimentum luctus finibus, elit ante porta tortor, quis pretium nisi leo vel tortor. Proin et porttitor enim. Phasellus odio dolor, pharetra vel tortor id, placerat tempus eros. Aliquam erat volutpat.

Nulla consequat suscipit odio, at dictum lectus tincidunt non. Morbi urna leo, posuere ut congue ac, volutpat vel libero. Fusce condimentum felis dui, ac lobortis dolor mattis vel. Vestibulum blandit ex et nisl volutpat blandit. Quisque aliquet pharetra leo a consequat. Mauris egestas et arcu quis mollis. Pellentesque nec ipsum dapibus, bibendum leo ac, lobortis nisi. Donec vitae nulla id nisl condimentum euismod eu nec risus. Quisque eu ante nec nisl malesuada rhoncus.

Duis a neque neque. Maecenas tincidunt dui nec ligula laoreet, eu maximus enim vehicula. Morbi ac leo eu quam accumsan malesuada. Nullam est orci, tristique eu eros vel, venenatis faucibus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis dolor vel nulla tincidunt commodo tristique in ipsum. Duis sed vulputate risus. Suspendisse fermentum ex dolor, vitae elementum turpis feugiat sed.

Donec consectetur ante et diam tristique lobortis vitae quis nunc. Etiam eget massa id dui aliquam venenatis. Ut rhoncus tincidunt scelerisque. Pellentesque vitae sem id elit laoreet tincidunt vel non arcu. Aliquam sed luctus risus, mollis viverra quam. Pellentesque bibendum, ex quis efficitur lacinia, sem justo scelerisque diam, vel tincidunt dui arcu at augue. Maecenas eu sapien non orci gravida rhoncus eu nec nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur eu augue quis mi semper varius. Ut eu arcu ipsum.
ultricies. </p>
	</div>
</div>