<!-- _navbar.html.erb renders a navbar at the top of each page -->

<div class="hero">`
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn things from people just as mediocre as yourself.</h1>
		<h2>Flixster is not liable for your ability to learn.</h2>
		<br />
		<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>